<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Site</title>
</head>
<body>
    <h1> Tickets for sale </h1>
    <ul> 
        <% tickets.forEach(t => { %>
            <li> 
                 <a href="/tickets/<%= t._id %>">

                    <%= t.Event %>   
                 </a> 

            </li> 
        <% }) %>
    </ul>
    <a href="/tickets/new">  Insert your ticket information </a>
</body>
</html>