* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.options {
    display: flex;
}

.options a {
    margin-left: 10px;
    background-color: rgb(204, 204, 204);
    padding: 3px;
    border: 1px solid black;
}

.option .deleteBtn {
    padding: 5px;
}